*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    background-color: #2C3E50;
    color: #fff;
    padding: 40px 0;
    height: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
    width: 85%;
    margin: auto;
}
.header .logo{
    float: left;
}
.header .menu{
    float: right;
}
.header .logo{
    font-size: 1.45rem;
}
.header .menu ul li{
    display: inline-block;
    padding: 0px 10px;
    /* height: 10px; */
    font-size: 18px;
}
.clear{
    clear: both;
}
.section1{
    background-color: #1ABC9C;
    text-align: center;
    padding-bottom: 90px;
    padding-top: 30px;
    color: #fff;
}
.section1 img{
    width: 17%;
    
}
.section1 h1{
    color: #fff;
    font-size: 70px;
    margin: 30px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1 p{
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1 i{
    font-size: 35px;
    margin-bottom: 30px;
}
.portfolio .portfolio-items .portfolio-item img{
    width: 100%;
    border-radius: 10px;
}
.portfolio .portfolio-top{
    text-align: center;
    margin: 40px 0;
    color: #2C3E50;
    
    
}
.portfolio .portfolio-items .portfolio-item{
    width: 33.333%;
    float: left;
    padding: 15px;
    border-radius: 10px;
}
.portfolio .portfolio-top h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about{
    text-align: center;
    color: #fff;
    background-color: #1ABC9C;
    display: inline-block;
}
.about .container .about-text h1{
    padding: 85px 0 20px;
    
    
}
.about .writing{
    display: inline;
    font-size: 20px;
    /* width: 50%; */
    /* float: left; */
}
.about .writing .writing1{
    float: left;
    width: 50%;
    margin: 40px 0 0px;
}
.about .writing .writing2{
    float: right;
    width: 50%;
    margin: 40px 0px 30px;
}
.about .container .link a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    
    /* background-color: #fff; */

}
.about .container .link{
    margin-bottom: 100px;
    margin-top: 40px;
}
.contact{
    text-align: center;
    /* display: block; */
}
.contact .contact-text{
    color: #2C3E50;
    
}
.contact .contact-text h1{
    margin-top: 60px;
    font-size: 3rem;
    margin-bottom: 20px;
}
.contact .contact-top{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    /* padding: 20px; */
    
    
}
.contact .contact-top .contact-top1 input{
    /* display: block; */
    /* width: 100%; */
    /* padding: 50px; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    width: 60%;
    padding: 20px 0;
    
}
.contact .contact-top .contact-top2 input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    width: 60%;
    padding: 20px 0;
}
.contact .contact-top .contact-top3 input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    width: 60%;
    padding: 20px 0;
}
.contact .contact-top .contact-top4 input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    width: 60%;
    padding: 20px 0;
}
.contact .button button{
    /* padding: 30%; */
    margin: 20px;
    background-color: #6BD4BF;
    color: #fff;
    
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 20px;
    width: 100px;
    border-radius: 10px;
    
}
